src/main/mule/cab-impl-sysapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="cab-impl-sysapiFlow" doc:id="be084d6e-e006-403f-9483-0ceec3f0a8ff" >
		<logger level="INFO" doc:name="Logger" doc:id="bbf2fca6-85f1-4c43-80bd-c65e8697e751" message="cab impl flow started at #[now()]"/>
		<http:request method="POST" doc:name="Request" doc:id="62945061-e828-496a-a0c0-68df08377fa4" url="https://f0a5c9d6-d1e3-4ffd-937a-73388d4ae420.mock.pstmn.io/cab"/>
		<logger level="INFO" doc:name="Logger" doc:id="2f6b68f9-eac5-411f-b3fc-c467358702f0" message="cab impl flow ended at #[now()]"/>
	</flow>
</mule>
